[submodule "RestRequest"]
	path = RestRequest
	url = https://github.com/adamski/RestRequest.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "hueplusplus"]
	path = hueplusplus
	url = https://github.com/enwi/hueplusplus.git
[submodule "barebones-webserver"]
	path = barebones-webserver
	url = https://github.com/codehoose/barebones-webserver.git
